*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
}

.home-page__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.movements-table__container{
    height: 80vh;
    width: 1032px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-filter__container{
    margin: auto;
}